#gameHolder{

width:960px;
margin-top:0px;
	margin: auto auto;
}
#title{
	font-weight:bold;
	font-size:100px;
	z-index:-1;
	position:relative;
	top:-652px;
	left:50
}
#gameHolder > #dynomite{
	width:900px;
	margin: auto auto;
}

.sevenseg{
	color:red;
	text-shadow: 0px 0px 50px red;
    font-family: 'Segment7Standard'; 
   	font-weight: normal; 
   	font-style: italic;
}

#countdownTimer > font{
	font-size:35px;
	position: relative;
	top:-350px;
	right: -455px;
}

#countMisses > font{
	font-size:14px;
	position: relative;
	top:-360px;
	right: -453px;

}
#usercontrols{
	position:relative;
	top: -238px;
	left: 430px;
	width: 287px;
}
#guessinput{
	text-align: center;
	font-size: 47px;
	width: 157px;
	font-family: 'Segment7Standard';
	font-weight: normal;
	font-style: italic;
	box-shadow: 5px 0px 0px #000s
}
#hinttext{
	font-size: 20px;
	width: 1107px;
	position: relative;
	top: -413px;
	right: -149px;
}
#hintbut{
	z-index: 1000;
	position: relative;
	top: -670px;
	left: 384px;
	font-size: 30px;
	color: rgba(255, 255, 192, .5);
	width: 60px;
}
#replaybut{
	    z-index: 1000;
    position: relative;
    top: -640px;
    left: 384px;
    font-size: 30px;
    color: rgba(255, 255, 192, .6);
    width: 60px;
}
#Wec{
  z-index: -2;
  width:400px;
  position: relative;
  top: -780px;
  left: 504px;
  -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
  
}
#Wecout{
  transition
  left: 704px;
-webkit-transform: x(100px); /* Chrome, Safari, Opera */

}